{% extends 'base.html' %}

{% load static %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>


{% block content %}
<h1>3DVIA-Automatic Catalogue Generation</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
   <p><b>Choose Excel to Import    &nbsp   </b><input type="file" name="myfile">
    

    <p><b>Choose the JSON File    &nbsp   </b><input type="file" name="myjson">
      <button type="submit">Upload</button></p> 
  </form>

  {% if uploaded_file_url %}
   
    <p>File uploaded : <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a> </p>
    <p>JSON : <a href="{{ uploaded_json_url }}">{{ uploaded_json_url }}</a> </p>
    <br></br>
    
    <h4>Select Sheet Order for processing</h4>
    <div align=center> <ul id="list1">
        {% for author in df_sheetName %}
           <li id="{{ author|safe }}">{{ author|safe }}</li>
        {% endfor %}
    </div>
    </ul>
 
      
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
   <button id="Validate">Validate the Excel</button>
 
  {% endif %}

  
  <script>
    (function($) {
    
    $('#list1').sortable({
        connectWith: 'ul'
    });    
    
    $('#list2').sortable({
        connectWith: 'ul',
        receive: function(ev, ui) {
            if(ui.item.hasClass("number"))
              ui.sender.sortable("cancel");
        }
    });    
    })(jQuery);
  </script>



<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script>

$("#Validate").click(function() {
  
  var listtosend = [];
  
  var value = $('#list1 li').each(function (index, value){
    var link = $(this).attr('id');
    listtosend.push(link)
    
    });
  alert("value : "+value);
  alert("listtosend : "+listtosend);
  $.ajax({
            type: 'POST',
            url: "uploads/validate/",
            data: {csrfmiddlewaretoken: window.CSRF_TOKEN,
            reqdatalist:listtosend},
            success: function() {
                console.log("Success!");
            }
        })
      });
</script>
  
{% endblock %}